# Compile files
*.class
*.jar
*.war
*.ear


# Maven
target/
*.ser
*.ec

# Eclipse
.classpath
.project
.settings/
.metadata/
.factorypath

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

# OS X
.DS_Store

# Window
Thumbs.db

# Log File
*.log
*.log.*

